<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <Iostudio_SyncContent>
      <version>0.1.0</version>
    </Iostudio_SyncContent>
  </modules>
  <global>
    <helpers>
      <synccontent>
        <class>Iostudio_SyncContent_Helper</class>
      </synccontent>
    </helpers>
  </global>
  <default>
    <synccontent>
      <staging>
        <port>22</port>
        <!--
        /**
         * v = verbose
         * z = enable compression
         * r = recursive
         * a = archive mode
         * C = ignore files in the same way CVS does
         * progress = display progress
         */
        -->
        <rsync_options>-avzCr --progress --exclude=app/etc/local.xml --exclude=var/*</rsync_options>
      </staging>
    </synccontent>
  </default>
  <adminhtml>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <synccontent>
                      <title>ioStudio SyncContent Options Section</title>
                    </synccontent>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
</config>